<h2>Update the drone</h2>
<form action='/drones/{{_id}}/edit', method="POST">{{!-- action es el texto que tienes que poner el el buscador para acceder a lo que estas haciendo --}}
  <label for=''>Name</label>
  <input type='text' name='name' value="{{name}}">

  <br>
  <label for=''>Propellers</label>
  <input type='number' name='propellers' value={{propellers}}>

 <br>
  <label for=''>Maximum speed</label>
  <input type='number' name='maxSpeed' value={{maxSpeed}}>

  <br>
  <button type='submit'>Edit the drone</button>
</form> 